body{
    background-color: #2e3e4d;
}
div#box{
    background-color: #121c29;
    width: 309px;
    margin-top:5em;
    color:#FFF;
}

.card-title{
    background: url("../img/icon.png") no-repeat right 0;
    background-size: contain;
}

small{
	color:red;
}